@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.curve{
    width: 100%;
    background-size: cover;
    height: 400px;
    opacity: .3;
    position: relative;
    bottom: 260px;
    z-index: -1;
}

.abt{
    width: 100%;
    background-size: cover;
    height: 400px;
    opacity: .3;
    position: absolute;
    bottom: -250px;
    z-index: -1;
}

.gradientText{
    background-image: linear-gradient( 109.6deg,  rgb(175, 61, 245) 11.2%, rgba(9,111,224,1) 91.1% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.parallax {
  /* The image used */
  background-image: url("./assets/s111.jpg");
  /* -webkit-filter: brightness(0.3);
  filter: brightness(0.3); */

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}